/* ==========================
   DESIGN SYSTEM
   ========================== */

:root {

  /* ===== Colors ===== */

  --color-background: #FAFAFA;
  --color-surface: #FFFFFF;

  --color-text: #111827;
  --color-text-light: #6B7280;

  --color-primary: #2563EB;
  --color-primary-hover: #1D4ED8;

  --color-border: #E5E7EB;

  /* ===== Fonts ===== */

  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  /* ===== Font Sizes ===== */

  --fs-xs: 0.875rem;
  --fs-sm: 1rem;
  --fs-md: 1.25rem;
  --fs-lg: 2rem;
  --fs-xl: 3.5rem;

  /* ===== Font Weight ===== */

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* ===== Spacing ===== */

  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 48px;
  --space-6: 64px;
  --space-7: 96px;

  /* ===== Radius ===== */

  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;

  /* ===== Shadow ===== */

  --shadow-sm: 0 4px 12px rgba(0,0,0,.05);
  --shadow-md: 0 10px 30px rgba(0,0,0,.08);

  /* ===== Layout ===== */

  --container-width: 1200px;

  /* ===== Transition ===== */

  --transition: .25s ease;
}
